/********* RWD ********/
$large: 1440px;
$medium: 1199px;
$small: 990px;
$extra-small: 767px;

// COLOR BIND
$blue-austera: #2ebaee;
$color: #0cf;

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/images/austera-background.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    color: #fff;

    .hero-container {
        margin: auto;
        position: relative;

        h1 {
            span {
                color: $blue-austera;
            }

            font-size: 72px;
            font-weight: bold;
        }

        p {
            text-align: center;
            font-size: 24px;
            margin-bottom: 74px;
        }
    }
}

// BUTTONS Style and Animate

.btn {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background-color: $blue-austera;
    display: flex;
    width: 215px;
    height: 51px;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        border-radius: 200px;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($color, 15%);
        transition: all .3s;
        border-radius: 200px;
        z-index: -1;
    }

    &:hover {
        color: #fff;

        &:before {
            width: 100%;
        }
    }

    &:focus {
        color: #fff;
    }
}

.btn-services {
    font-size: 14px;
    width: 152px;
    height: 44px;
    text-decoration: none;
}

// SERVICES 

.services {
    background-color: #fff;
    background-image: -webkit-linear-gradient(-50deg, #fff 50%, $blue-austera 50%);
    min-height: 500px;

    a {
        text-decoration: none;
    }

    .container {
        width: 1300px;
        padding-bottom: 100px;

        .position-1 {

            margin: auto 120px auto auto;
        }

        .position-2 {
            margin: auto auto auto 120px;
            color: #fff;
        }

        .left {
            background-color: #fff;
        }

        .skip {
            padding-top: 180px;
        }
    }

    //styling 

    h2 {
        color: #242424;
        font-size: 48px;
        padding: 80px 0;
        text-align: center;
    }

    h3 {
        font-size: 24px;
        padding: 50px 0 30px 0;
        font-weight: bold;
    }

    h4 {
        font-size: 36px;
        font-weight: normal;
        margin-bottom: 40px;
    }

    p {
        font-size: 14px;
        margin-bottom: 70px;
        line-height: 27px;
    }

    .position-of-par {
        margin-bottom: 50px;
    }

    .left {
        margin: 0 !important;
    }

    .w-100 {
        padding: 110px 0;
    }

}

// ******************** //
.new-container {
    display: flex;

    .col {
        padding-left: 0;
    }

    .col-5 {
        padding: 0;
        margin: auto;
        padding-right: 250px;
        h4 {
            font-size: 72px;
        }
        p {
            font-size: 14px;
            line-height: 30px;
            float: left;
        }
    }
}

// IMAGES

.images {
    display: flex;

    .col {
        padding: 0;
        width: 25%;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .5s;
        position: relative;

        h4 {
            font-size: 48px;
            color: #fff;
            padding: 150px 62px;
            font-weight: bold;
        }
    }

    .col:hover {
        background-color: #319bc3;
        background-blend-mode: screen;
    }

    .back1 {
        background-image: url(images/images/image1.jpg);

    }

    .back2 {
        background-image: url(images/images/image2.jpg);
    }

    .back3 {
        background-image: url(images/images/image3.jpg);

    }

    .back4 {
        background-image: url(images/images/image4.jpg);

    }

}

// ABOUT US

.about-us {
    .container {
        width: 1300px;
        padding-bottom: 100px;

        h2 {
            text-align: left;
            padding: 100px 0;
            line-height: 70px;
            font-size: 72px;
            font-weight: bold;

            span {
                color: $blue-austera;
            }
        }

        .col {
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            h5 {
                font-size: 33px;
                text-align: center;
                padding-top: 40px;
            }

            p {
                font-size: 14px;
                color: #878787;
                text-align: center;
            }
        }
    }
}

// FOOTER

.footer {
    width: 100%;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/images/footer-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .container {
        width: 1300px;
        .row {
            padding-top: 130px;
            padding-bottom: 9rem;
        }
        ::placeholder {
            color: #fff;
        }
    }

    form {
        display: grid;

        textarea {
            height: 18rem;
        }

        .forming {
            background: fixed;
            color: #fff;
            padding: 20px 17px;
            border: 1px solid #535353;
            border-radius: 5px;
            margin-bottom: 23px;
            margin-top: 10px;
        }
    }

    h3 {
        font-size: 74px;
        font-weight: bold;
        color: #fff;
        margin-top: 0;
    }

    p {
        font-size: 30px;
        color: #878787;

        span {
            color: $blue-austera;
        }
    }

    .difr {
        font-size: 18px;
    }

    .social-icons {
        padding-top: 2rem;

        a {
            margin-right: 2rem;
            opacity: 0.8;
        }

        a:hover {
            opacity: 1;
        }
    }

}