/********* RWD ********/
body {
  font-family: 'Montserrat', sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(images/images/austera-background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/images/austera-background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  color: #fff;
}

header .hero-container {
  margin: auto;
  position: relative;
}

header .hero-container h1 {
  font-size: 72px;
  font-weight: bold;
}

header .hero-container h1 span {
  color: #2ebaee;
}

header .hero-container p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 74px;
}

.btn {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: #2ebaee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 215px;
  height: 51px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 200px;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 200px;
  z-index: -2;
}

.btn:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 200px;
  z-index: -1;
}

.btn:hover {
  color: #fff;
}

.btn:hover:before {
  width: 100%;
}

.btn:focus {
  color: #fff;
}

.btn-services {
  font-size: 14px;
  width: 152px;
  height: 44px;
  text-decoration: none;
}

.services {
  background-color: #fff;
  background-image: -webkit-linear-gradient(-50deg, #fff 50%, #2ebaee 50%);
  min-height: 500px;
}

.services a {
  text-decoration: none;
}

.services .container {
  width: 1300px;
  padding-bottom: 100px;
}

.services .container .position-1 {
  margin: auto 120px auto auto;
}

.services .container .position-2 {
  margin: auto auto auto 120px;
  color: #fff;
}

.services .container .left {
  background-color: #fff;
}

.services .container .skip {
  padding-top: 180px;
}

.services h2 {
  color: #242424;
  font-size: 48px;
  padding: 80px 0;
  text-align: center;
}

.services h3 {
  font-size: 24px;
  padding: 50px 0 30px 0;
  font-weight: bold;
}

.services h4 {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 40px;
}

.services p {
  font-size: 14px;
  margin-bottom: 70px;
  line-height: 27px;
}

.services .position-of-par {
  margin-bottom: 50px;
}

.services .left {
  margin: 0 !important;
}

.services .w-100 {
  padding: 110px 0;
}

.new-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new-container .col {
  padding-left: 0;
}

.new-container .col-5 {
  padding: 0;
  margin: auto;
  padding-right: 250px;
}

.new-container .col-5 h4 {
  font-size: 72px;
}

.new-container .col-5 p {
  font-size: 14px;
  line-height: 30px;
  float: left;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.images .col {
  padding: 0;
  width: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
}

.images .col h4 {
  font-size: 48px;
  color: #fff;
  padding: 150px 62px;
  font-weight: bold;
}

.images .col:hover {
  background-color: #319bc3;
  background-blend-mode: screen;
}

.images .back1 {
  background-image: url(images/images/image1.jpg);
}

.images .back2 {
  background-image: url(images/images/image2.jpg);
}

.images .back3 {
  background-image: url(images/images/image3.jpg);
}

.images .back4 {
  background-image: url(images/images/image4.jpg);
}

.about-us .container {
  width: 1300px;
  padding-bottom: 100px;
}

.about-us .container h2 {
  text-align: left;
  padding: 100px 0;
  line-height: 70px;
  font-size: 72px;
  font-weight: bold;
}

.about-us .container h2 span {
  color: #2ebaee;
}

.about-us .container .col img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-us .container .col h5 {
  font-size: 33px;
  text-align: center;
  padding-top: 40px;
}

.about-us .container .col p {
  font-size: 14px;
  color: #878787;
  text-align: center;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(images/images/footer-background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/images/footer-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer .container {
  width: 1300px;
}

.footer .container .row {
  padding-top: 130px;
  padding-bottom: 9rem;
}

.footer .container ::-webkit-input-placeholder {
  color: #fff;
}

.footer .container :-ms-input-placeholder {
  color: #fff;
}

.footer .container ::-ms-input-placeholder {
  color: #fff;
}

.footer .container ::placeholder {
  color: #fff;
}

.footer form {
  display: -ms-grid;
  display: grid;
}

.footer form textarea {
  height: 18rem;
}

.footer form .forming {
  background: fixed;
  color: #fff;
  padding: 20px 17px;
  border: 1px solid #535353;
  border-radius: 5px;
  margin-bottom: 23px;
  margin-top: 10px;
}

.footer h3 {
  font-size: 74px;
  font-weight: bold;
  color: #fff;
  margin-top: 0;
}

.footer p {
  font-size: 30px;
  color: #878787;
}

.footer p span {
  color: #2ebaee;
}

.footer .difr {
  font-size: 18px;
}

.footer .social-icons {
  padding-top: 2rem;
}

.footer .social-icons a {
  margin-right: 2rem;
  opacity: 0.8;
}

.footer .social-icons a:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */