/********* RWD ********/
body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.navbar-cont {
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

.navbar-cont .w-100 {
  width: 45% !important;
}

.navbar-cont .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.navbar-cont .navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7) !important;
  padding: 30px 0;
}

.navbar-cont .navbar #circle {
  position: absolute;
  bottom: 21px;
}

.navbar-cont .navbar img {
  width: 12px;
  height: 12px;
}

.navbar-cont .navbar .navbar-brand {
  color: #fff;
  margin-left: 100px;
  font-size: 36px;
  position: relative;
}

.navbar-cont .navbar .nav-link {
  color: white;
  font-size: 18px;
  margin-right: 20px;
}

.navbar-cont .navbar .nav-link:hover {
  color: #33a9da;
  border-bottom: 2px solid #33a9da;
}

header {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(images/images/austera-background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/images/austera-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

header .hero-container {
  margin: auto;
  position: relative;
}

header .hero-container h1 {
  text-align: center;
  font-size: 72px;
  font-weight: bold;
}

header .hero-container h1 span {
  color: #2ebaee;
}

@media screen and (max-width: 767px) {
  header .hero-container h1 {
    font-size: 62px;
  }
}

header .hero-container p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 74px;
}

@media screen and (max-width: 482px) {
  header .hero-container p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.btn {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: #2ebaee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 215px;
  height: 51px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 200px;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 200px;
  z-index: -2;
}

.btn:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 200px;
  z-index: -1;
}

.btn:hover {
  color: #fff;
}

.btn:hover:before {
  width: 100%;
}

.btn:focus {
  color: #fff;
}

.btn-services {
  font-size: 14px;
  width: 152px;
  height: 44px;
  text-decoration: none;
  background-color: #fff;
}

.services {
  background-color: #fff;
  background-image: -webkit-linear-gradient(-50deg, #fff 50%, #2ebaee 50%);
  min-height: 500px;
}

@media screen and (max-width: 1440px) {
  .services {
    background-image: -webkit-linear-gradient(-115deg, #fff 50%, #2ebaee 50%);
  }
}

@media screen and (max-width: 767px) {
  .services .col {
    padding-right: 30px;
    padding-left: 40px;
  }
}

.services a {
  text-decoration: none;
}

.services .container {
  padding-bottom: 100px;
}

@media screen and (max-width: 482px) {
  .services .container .row {
    display: block;
  }
}

.services .container .direction {
  margin-right: 0;
  margin-left: 0;
}

@media screen and (max-width: 482px) {
  .services .container .direction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1440px) {
  .services .container {
    max-width: 1300px;
  }
}

@media screen and (max-width: 990px) {
  .services .container .w-100 {
    padding: 50px 0;
  }
}

@media screen and (max-width: 1761px) {
  .services .container .col-6 img {
    width: inherit;
  }
}

@media screen and (max-width: 482px) {
  .services .container .col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 86%;
            flex: 0 0 86%;
    max-width: 86%;
    padding-bottom: 2rem;
  }
}

.services .container .position-1 {
  margin: auto 120px auto auto;
}

@media screen and (max-width: 990px) {
  .services .container .position-1 {
    margin: auto;
  }
}

@media screen and (max-width: 1440px) {
  .services .container .position-1 {
    color: #fff;
  }
}

.services .container .position-2 {
  margin: auto auto auto 120px;
  color: #fff;
}

@media screen and (max-width: 990px) {
  .services .container .position-2 {
    margin: auto;
  }
}

.services .container .left {
  background-color: #fff;
}

.services .container .skip {
  padding-top: 180px;
}

.services h2 {
  color: #242424;
  font-size: 48px;
  padding: 80px 0;
  text-align: center;
}

@media screen and (max-width: 482px) {
  .services h2 {
    font-size: 42px;
    padding: 60px 0;
  }
}

.services h3 {
  font-size: 24px;
  padding: 50px 0 30px 0;
  font-weight: bold;
}

@media screen and (max-width: 482px) {
  .services h3 {
    padding: 15px 0 6px 0;
  }
}

.services h4 {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 40px;
}

.services p {
  font-size: 14px;
  margin-bottom: 70px;
  line-height: 27px;
}

@media screen and (max-width: 482px) {
  .services p {
    margin-bottom: 40px;
  }
}

.services .position-of-par {
  margin-bottom: 50px;
}

.services .left {
  margin: 0 !important;
}

.services .w-100 {
  padding: 110px 0;
}

.new-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70vh;
}

.new-container .col-6 {
  background-image: url(images/images/random-guy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0;
}

@media screen and (max-width: 1440px) {
  .new-container .cover {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    max-width: 100%;
    position: relative;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(images/images/random-guy.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/images/random-guy.jpg);
  }
}

.new-container .col {
  margin: auto;
  padding-right: 250px;
  padding-left: 80px;
}

@media screen and (max-width: 1440px) {
  .new-container .col {
    position: absolute;
    padding: auto;
    color: #fff;
    text-align: center;
    padding: 10rem;
  }
}

@media screen and (max-width: 703px) {
  .new-container .col {
    padding: 7rem;
  }
}

@media screen and (max-width: 482px) {
  .new-container .col {
    padding: 4rem;
  }
}

.new-container .col h4 {
  font-size: 72px;
}

@media screen and (max-width: 838px) {
  .new-container .col h4 {
    font-size: 50px;
    margin-bottom: 1rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 703px) {
  .new-container .col h4 {
    font-size: 40px;
  }
}

@media screen and (max-width: 482px) {
  .new-container .col h4 {
    font-size: 32px;
  }
}

.new-container .col p {
  font-size: 14px;
  line-height: 30px;
  float: left;
}

@media screen and (max-width: 838px) {
  .new-container .col p {
    font-size: 14px;
    margin-bottom: 3rem;
    line-height: 25px;
  }
}

@media screen and (max-width: 482px) {
  .new-container .col p {
    font-size: 12px;
    margin-bottom: 2rem;
    line-height: 20px;
  }
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.images .w-100 {
  width: 0 !important;
}

@media screen and (max-width: 1199px) {
  .images .w-100 {
    width: 100% !important;
  }
}

.images .row {
  margin: 0;
}

@media screen and (max-width: 838px) {
  .images .row {
    display: -ms-grid;
    display: grid;
    margin: 0;
  }
}

.images .col {
  padding: 0;
  width: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  background-blend-mode: screen;
}

@media screen and (max-width: 838px) {
  .images .col {
    width: 100%;
  }
}

.images .col h4 {
  font-size: 48px;
  color: #fff;
  padding: 150px 62px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .images .col h4 {
    padding: 150px 54px;
  }
}

.images .col:hover {
  background-color: #319bc3;
}

.images .back1 {
  background-image: url(images/images/image1.jpg);
}

.images .back2 {
  background-image: url(images/images/image2.jpg);
}

.images .back3 {
  background-image: url(images/images/image3.jpg);
}

.images .back4 {
  background-image: url(images/images/image4.jpg);
}

.about-us .container {
  max-width: 1300px;
  padding-bottom: 100px;
}

@media screen and (max-width: 482px) {
  .about-us .container {
    padding-bottom: 40px;
  }
}

.about-us .container .w-100 {
  width: 0 !important;
}

@media screen and (max-width: 1199px) {
  .about-us .container .w-100 {
    width: 100% !important;
  }
}

.about-us .container h2 {
  text-align: left;
  padding: 100px 0;
  line-height: 70px;
  font-size: 72px;
  font-weight: bold;
}

@media screen and (max-width: 482px) {
  .about-us .container h2 {
    font-size: 51px;
    padding: 65px 0;
    line-height: 55px;
  }
}

.about-us .container h2 span {
  color: #11c0ff;
}

@media screen and (max-width: 1199px) {
  .about-us .container .col {
    padding-bottom: 3rem;
  }
}

.about-us .container .col img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-us .container .col h5 {
  font-size: 33px;
  text-align: center;
  padding-top: 40px;
}

@media screen and (max-width: 1440px) {
  .about-us .container .col h5 {
    font-size: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .about-us .container .col h5 {
    padding-top: 0.5rem;
  }
}

.about-us .container .col p {
  font-size: 14px;
  color: #878787;
  text-align: center;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(images/images/footer-background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/images/footer-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footer .container {
  max-width: 1300px;
}

.footer .container .row {
  padding-top: 70px;
  padding-bottom: 7rem;
}

.footer .container ::-webkit-input-placeholder {
  color: #a8a6a6;
}

.footer .container :-ms-input-placeholder {
  color: #a8a6a6;
}

.footer .container ::-ms-input-placeholder {
  color: #a8a6a6;
}

.footer .container ::placeholder {
  color: #a8a6a6;
}

.footer form {
  display: -ms-grid;
  display: grid;
}

.footer form label {
  color: #fff;
  margin-bottom: -9px;
}

.footer form textarea {
  height: 10rem;
  background: fixed;
  color: #fff;
  padding: 20px 17px;
  border: 1px solid #535353;
  border-radius: 5px;
  margin-bottom: 23px;
  margin-top: 10px;
}

.footer form input {
  background: fixed;
  color: #fff;
  padding: 20px 17px;
  border: 1px solid #535353;
  border-radius: 5px;
  margin-bottom: 23px;
  margin-top: 10px;
}

@media screen and (max-width: 482px) {
  .footer form input {
    margin-bottom: 15px;
  }
}

.footer h3 {
  font-size: 74px;
  font-weight: bold;
  color: #fff;
  margin-top: 0;
}

@media screen and (max-width: 482px) {
  .footer h3 {
    font-size: 42px;
  }
}

.footer p {
  font-size: 30px;
  color: #878787;
}

@media screen and (max-width: 482px) {
  .footer p {
    font-size: 17px;
  }
}

.footer p span {
  color: #2ebaee;
}

.footer .difr {
  font-size: 18px;
}

@media screen and (max-width: 482px) {
  .footer .difr {
    font-size: 15px;
  }
}

.footer .social-icons {
  padding-top: 2rem;
}

@media screen and (max-width: 1199px) {
  .footer .social-icons {
    padding-top: 0;
    padding-bottom: 3rem;
  }
}

.footer .social-icons a {
  margin-right: 2rem;
  opacity: 0.8;
}

@media screen and (max-width: 482px) {
  .footer .social-icons a {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 990px) {
  .footer .social-icons a img {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 482px) {
  .footer .social-icons a img {
    max-width: 38px;
  }
}

.footer .social-icons a:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */