/********* RWD ********/
$large: 1440px;
$medium: 1199px;
$small: 990px;
$extra-small: 767px;
$custom-small: 838px;

// COLOR BIND
$blue-austera: #2ebaee;
$color: #0cf;

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;
}

header {
    .navbar-cont {
        width: 100%;
        margin: 0 auto;
        position: absolute;

        .collapse {
            display: block !important;
        }

        .navbar-nav {
            float: right;
            padding-right: 200px;

        }

        .navbar {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7) !important;
            padding: 30px 0;

            .navbar-brand {
                color: #fff;
                padding-left: 100px;
                font-size: 36px;

            }

            .nav-link {
                color: white;
                font-size: 18px;
                margin-right: 45px;

                display: initial;
            }

            .nav-link:hover {
                color: #33a9da;
                border-bottom: 2px solid #33a9da;
            }
        }

    }

    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(images/images/austera-background.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;

    .hero-container {
        margin: auto;
        position: relative;

        h1 {
            span {
                color: $blue-austera;
            }

            text-align: center;
            font-size: 72px;
            font-weight: bold;
        }

        p {
            text-align: center;
            font-size: 24px;
            margin-bottom: 74px;
        }
    }
}

// BUTTONS Style and Animate

.btn {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background-color: $blue-austera;
    display: flex;
    width: 215px;
    height: 51px;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        border-radius: 200px;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($color, 15%);
        transition: all .3s;
        border-radius: 200px;
        z-index: -1;
    }

    &:hover {
        color: #fff;

        &:before {
            width: 100%;
        }
    }

    &:focus {
        color: #fff;
    }
}

.btn-services {
    font-size: 14px;
    width: 152px;
    height: 44px;
    text-decoration: none;
    background-color: #fff;
}

// SERVICES 

.services {
    background-color: #fff;
    background-image: -webkit-linear-gradient(-50deg, #fff 50%, $blue-austera 50%);
    min-height: 500px;

    @media screen and (max-width: $large) {
        background-image: -webkit-linear-gradient(-115deg, #fff 50%, $blue-austera 50%);
    }

    .col {
        @media screen and (max-width: $extra-small) {
            padding-right: 30px;
            padding-left: 30px;
        }
    }

    a {
        text-decoration: none;
    }

    .container {
        padding-bottom: 100px;

        @media screen and (min-width: 1440px) {
            max-width: 1300px;
        }

        .w-100 {
            @media screen and (max-width: $small) {
                padding: 50px 0;
            }
        }

        .col-6 {
            img {
                @media screen and (max-width: 1761px) {
                    width: inherit;
                }
            }
        }


        .position-1 {
            margin: auto 120px auto auto;

            @media screen and (max-width: $small) {
                margin: auto;
            }

            @media screen and (max-width: $large) {
                color: #fff;
            }
        }

        .position-2 {
            margin: auto auto auto 120px;
            color: #fff;

            @media screen and (max-width: $small) {
                margin: auto;
            }
        }

        .left {
            background-color: #fff;
        }

        .skip {
            padding-top: 180px;
        }
    }

    //styling 

    h2 {
        color: #242424;
        font-size: 48px;
        padding: 80px 0;
        text-align: center;
    }

    h3 {
        font-size: 24px;
        padding: 50px 0 30px 0;
        font-weight: bold;
    }

    h4 {
        font-size: 36px;
        font-weight: normal;
        margin-bottom: 40px;
    }

    p {
        font-size: 14px;
        margin-bottom: 70px;
        line-height: 27px;
    }

    .position-of-par {
        margin-bottom: 50px;
    }

    .left {
        margin: 0 !important;
    }

    .w-100 {
        padding: 110px 0;
    }

}

// ******************** //
.new-container {
    display: flex;
    width: 100%;
    height: 70vh;





    .col-6 {

        background-image: url(/images/images/random-guy.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 0;

    }

    .cover {
        @media screen and (max-width: $large) {
            flex: 0 0 100% !important;
            max-width: 100%;
            position: relative;
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/images/random-guy.jpg);
        }
    }

    .col {
        margin: auto;
        padding-right: 250px;
        padding-left: 80px;

        @media screen and (max-width: $large) {
            position: absolute;
            padding: auto;
            color: #fff;
            text-align: center;
            padding: 10rem;
        }

        @media screen and (max-width: 703px) {
            padding: 7rem;
        }



        h4 {
            font-size: 72px;

            @media screen and (max-width: $custom-small) {
                font-size: 50px;
                margin-bottom: 1rem;
                font-weight: bold;
            }

            @media screen and (max-width: 703px) {
                font-size: 40px;
            }
        }

        p {
            font-size: 14px;
            line-height: 30px;
            float: left;

            @media screen and (max-width: $custom-small) {
                font-size: 14px;
                margin-bottom: 3rem;
                line-height: 25px;
            }
        }
    }
}

// IMAGES

.images {
    display: flex;

    .w-100 {
        width: 0 !important;

        @media screen and (max-width:1688px) {
            width: 100% !important;
        }

    }

    .row {
        margin: 0;

        @media screen and (max-width: $custom-small) {
            display: grid;
            margin: 0;
        }
    }

    .col {
        padding: 0;
        width: 25%;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .3s;
        position: relative;
        background-blend-mode: screen;

        @media screen and (max-width: $custom-small) {
            width: 100%;
        }

        h4 {
            font-size: 48px;
            color: #fff;
            padding: 150px 62px;
            font-weight: bold;
        }
    }

    .col:hover {
        background-color: #319bc3;

    }

    .back1 {
        background-image: url(images/images/image1.jpg);

    }

    .back2 {
        background-image: url(images/images/image2.jpg);
    }

    .back3 {
        background-image: url(images/images/image3.jpg);

    }

    .back4 {
        background-image: url(images/images/image4.jpg);

    }

}

// ABOUT US

.about-us {
    .container {
        max-width: 1300px;
        padding-bottom: 100px;

        .w-100 {
            width: 0 !important;

            @media screen and (max-width: $medium) {
                width: 100% !important;
            }
        }


        h2 {
            text-align: left;
            padding: 100px 0;
            line-height: 70px;
            font-size: 72px;
            font-weight: bold;

            span {
                color: $blue-austera;
            }
        }

        .col {
            @media screen and (max-width: $medium) {
                padding-bottom: 3rem;
            }

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;

            }

            h5 {
                font-size: 33px;
                text-align: center;
                padding-top: 40px;

                @media screen and (max-width: $large) {
                    font-size: 30px;
                }

                @media screen and (max-width: $medium) {
                    padding-top: 0.5rem;
                }
            }

            p {
                font-size: 14px;
                color: #878787;
                text-align: center;
            }
        }
    }
}

// FOOTER

.footer {
    width: 100%;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/images/footer-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .container {
        max-width: 1300px;

        .row {
            padding-top: 130px;
            padding-bottom: 9rem;
        }

        ::placeholder {
            color: #fff;
        }
    }

    form {
        display: grid;

        textarea {
            height: 10rem;
        }

        .forming {
            background: fixed;
            color: #fff;
            padding: 20px 17px;
            border: 1px solid #535353;
            border-radius: 5px;
            margin-bottom: 23px;
            margin-top: 10px;
        }
    }

    h3 {
        font-size: 74px;
        font-weight: bold;
        color: #fff;
        margin-top: 0;
    }

    p {
        font-size: 30px;
        color: #878787;

        span {
            color: $blue-austera;
        }
    }

    .difr {
        font-size: 18px;
    }

    .social-icons {
        padding-top: 2rem;

        @media screen and (max-width: $medium) {
            padding-top: 0;
            padding-bottom: 3rem;
        }

        a {
            margin-right: 2rem;
            opacity: 0.8;

            img {
                @media screen and (max-width: $small) {
                    margin-bottom: 1rem;
                }
            }
        }

        a:hover {
            opacity: 1;
        }
    }

}